USE [master]
GO
/****** Object:  Database [WebsiteThuCung] ******/
CREATE DATABASE [WebsiteThuCung]
GO
USE [WebsiteThuCung]
GO

/****** Object:  Table [dbo].[ADMIN]  ******/
CREATE TABLE [dbo].[ADMIN](
	[MAADMIN] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[DIENTHOAI] [nvarchar](11) NOT NULL,
	[TENLOAI] [nvarchar](100) NOT NULL,
	[TENDN] [nvarchar](30) NOT NULL,
	[MATKHAU] [varchar](20) NOT NULL,
	[AVATAR] [nvarchar](100) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	CONSTRAINT [P_NHANVIEN] PRIMARY KEY ([MAADMIN])
)
GO

/****** Object:  Table [dbo].[CHUCNANG_QUYEN] ******/
CREATE TABLE [dbo].[CHUCNANG_QUYEN](
	[MACHUCNANG] [varchar](100) NOT NULL,
	[TENCN] [nvarchar](200) NULL,
	CONSTRAINT [PK_CHUCNANG_QUYEN] PRIMARY KEY ([MACHUCNANG])
)
GO

/****** Object:  Table [dbo].[PHANQUYEN]******/
CREATE TABLE [dbo].[PHANQUYEN](
	[MAPQ] [int] IDENTITY(1,1) NOT NULL,
	[MAADMIN] [int] NOT NULL,
	[MACHUCNANG] [varchar](100) NOT NULL,
	CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY ([MAPQ], [MAADMIN], [MACHUCNANG]), 
	CONSTRAINT [FK_PHANQUYEN_ADMIN] FOREIGN KEY([MAADMIN]) REFERENCES [dbo].[ADMIN] ([MAADMIN]),
	CONSTRAINT [FK_PHANQUYEN_CHUCNANG_QUYEN] FOREIGN KEY([MACHUCNANG]) REFERENCES [dbo].[CHUCNANG_QUYEN] ([MACHUCNANG])
)
GO

/****** Object:  Table [dbo].[LOAI]******/
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](200) NOT NULL,
	CONSTRAINT [P_LOAI] PRIMARY KEY ([MALOAI])
)
GO

/****** Object:  Table [dbo].[MAUSAC]******/
CREATE TABLE [dbo].[MAUSAC](
	[MAMAUSAC] [int] IDENTITY(1,1) NOT NULL,
	[TENMAUSAC] [nvarchar](100) NOT NULL,
	[ANHIEN] [bit] NULL,
	CONSTRAINT [P_MAUSAC] PRIMARY KEY ([MAMAUSAC])
)
GO

/****** Object:  Table [dbo].[THUONGHIEU] ******/
CREATE TABLE [dbo].[THUONGHIEU](
	[MATH] [int] IDENTITY(1,1) NOT NULL,
	[TENTH] [nvarchar](100) NOT NULL,
	[LOGO] [nvarchar](100) NULL,
	[ANHIEN] [bit] NULL,
	CONSTRAINT [P_THUONGHIEU] PRIMARY KEY ([MATH])
)
GO

/****** Object:  Table [dbo].[SANPHAM] ******/
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](200) NOT NULL,
	[DONGIAMUA] [decimal](18, 0) NULL,
	[DONGIABAN] [decimal](18, 0) NULL,
	[MATH] [int] NOT NULL,
	[MALOAI] [int] NOT NULL,
	[MAMAUSAC] [int] NULL,
	[SOLUONG] [int] NULL,
	[HINHANH] [nvarchar](100) NULL,
	[MOTA] [nvarchar](max) NOT NULL,
	[THANHTOANON] [nvarchar](200) NULL,
	[ANHIEN] [bit] NULL,
	CONSTRAINT [P_SANPHAM] PRIMARY KEY ([MASP]),
	CONSTRAINT [F_SANPHAM_MAUSAC] FOREIGN KEY([MAMAUSAC]) REFERENCES [dbo].[MAUSAC] ([MAMAUSAC]),
	CONSTRAINT [F_SANPHAM_THUONGHIEU] FOREIGN KEY([MATH]) REFERENCES [dbo].[THUONGHIEU] ([MATH]),
	CONSTRAINT [CK__SANPHAM__DONGIAB__412EB0B6] CHECK  (([DONGIABAN]>=(0))),
	CONSTRAINT [CK__SANPHAM__DONGIAM__403A8C7D] CHECK  (([DONGIAMUA]>=(0)))
)
GO

/****** Object:  Table [dbo].[KICHTHUOC] ******/
CREATE TABLE [dbo].[KICHTHUOC](
	[MAKICHTHUOC] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [int] NOT NULL,
	[TENKICHTHUOC] [int] NOT NULL,
	[ANHIEN] [bit] NULL,
	CONSTRAINT [P_KICHTHUOC] PRIMARY KEY ([MAKICHTHUOC], [MASP]),
	CONSTRAINT [F_KICHTHUOC_MASP] FOREIGN KEY([MASP]) REFERENCES [dbo].[SANPHAM] ([MASP])
)
GO

/****** Object:  Table [dbo].[HINH]   ******/
CREATE TABLE [dbo].[HINH](
	[MAHINH] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [int] NOT NULL,
	[HINH1] [nvarchar](100) NULL,
	[ANHIEN] [bit] NULL,
	CONSTRAINT [P_HINH] PRIMARY KEY ([MAHINH], [MASP]),
	CONSTRAINT [F_HINH_MASP] FOREIGN KEY([MASP]) REFERENCES [dbo].[SANPHAM] ([MASP])
)
GO

/****** Object:  Table [dbo].[GIAMGIA] ******/
CREATE TABLE [dbo].[GIAMGIA](
	[MAGIAMGIA] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [int] NOT NULL,
	[PHAMTRAMGIAM] [int] NOT NULL,
	[ANHIEN] [bit] NULL,
	CONSTRAINT [P_PHIEUTHANHLI] PRIMARY KEY ([MAGIAMGIA]),
	CONSTRAINT [F_PHIEUTHANHLI_MASP] FOREIGN KEY([MASP]) REFERENCES [dbo].[SANPHAM] ([MASP])
)
GO

/****** Object:  Table [dbo].[PHIEUNHAPKHO]******/
CREATE TABLE [dbo].[PHIEUNHAPKHO](
	[MAPHIEUNK] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNK] [datetime] NOT NULL,
	[MASP] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	CONSTRAINT [P_PHIEUNHAPKHO] PRIMARY KEY ([MAPHIEUNK]),
	CONSTRAINT [F_PHIEUNHAPKHO_MASP] FOREIGN KEY([MASP]) REFERENCES [dbo].[SANPHAM] ([MASP])
)
GO

/****** Object:  Table [dbo].[KHACHHANG]  ******/
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTENKH] [nvarchar](100) NOT NULL,
	[DIENTHOAI] [nvarchar](11) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
	[TENDNKH] [nvarchar](30) NOT NULL,
	[MATKHAUKH] [varchar](200) NOT NULL,
	[EMAIL] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[HINHANH] [nvarchar](200) NULL,
	[KHOIPHUCMATKHAU] [nchar](200) NULL,
	CONSTRAINT [P_KHACHHANG] PRIMARY KEY ([MAKH])
)
GO

/****** Object:  Table [dbo].[DONDATHANG]  ******/
CREATE TABLE [dbo].[DONDATHANG](
	[MADH] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[NGAYGIAO] [datetime] NULL,
	[TINHTRANGDH] [bit] NULL,
	[DATHANHTOAN] [bit] NULL,
	[TONGTIEN] [decimal](18, 0) NULL,
	CONSTRAINT [P_DONDATHANG] PRIMARY KEY ([MADH]),
	CONSTRAINT [F_DONDATHANG_MAKH] FOREIGN KEY(MAKH) REFERENCES [dbo].[KHACHHANG] ([MAKH])
)
GO

/****** Object:  Table [dbo].[CTDONDATHANG]  ******/
CREATE TABLE [dbo].[CTDONDATHANG](
	[MADH] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[THANHTIEN] [decimal](18, 0) NULL,
	CONSTRAINT [P_CTDONDATHANG] PRIMARY KEY ([MADH],[MASP]),
	CONSTRAINT [F_CTDONDATHANG_MADH] FOREIGN KEY (MADH) REFERENCES [dbo].[DONDATHANG] ([MADH]),
	CONSTRAINT [F_CTDONDATHANG_MASP] FOREIGN KEY(MASP) REFERENCES [dbo].[SANPHAM] ([MASP])
)
GO

SET IDENTITY_INSERT [dbo].[ADMIN] ON 
INSERT [dbo].[ADMIN] ([MAADMIN], [HOTEN], [DIACHI], [DIENTHOAI], [TENLOAI], [TENDN], [MATKHAU], [AVATAR], [EMAIL]) VALUES (1, N'ADMIN', N'HCM', N'0123456789', N'Admin', N'admin', N'123123', N'admin.png', N'xxx@gmail.com')
INSERT [dbo].[ADMIN] ([MAADMIN], [HOTEN], [DIACHI], [DIENTHOAI], [TENLOAI], [TENDN], [MATKHAU], [AVATAR], [EMAIL]) VALUES (2, N'Huệ Mẫn', N'HCM', N'0906405255', N'Chủ cửa hàng', N'owner', N'123123', N'admin.jpg', N'hueman@gmail.com')
SET IDENTITY_INSERT [dbo].[ADMIN] OFF
GO

INSERT [dbo].[CHUCNANG_QUYEN] ([MACHUCNANG], [TENCN]) VALUES (N'QL_CHUCNANG', N'Quản lý chức năng quyền')
INSERT [dbo].[CHUCNANG_QUYEN] ([MACHUCNANG], [TENCN]) VALUES (N'QL_DONDATHANG', N'Quản lý đơn đặt hàng')
INSERT [dbo].[CHUCNANG_QUYEN] ([MACHUCNANG], [TENCN]) VALUES (N'QL_HINHMOTA', N'Quản lý hình mô tả')
GO

SET IDENTITY_INSERT [dbo].[PHANQUYEN] ON 
INSERT [dbo].[PHANQUYEN] ([MAPQ], [MAADMIN], [MACHUCNANG]) VALUES (4, 1, N'QL_CHUCNANG')
INSERT [dbo].[PHANQUYEN] ([MAPQ], [MAADMIN], [MACHUCNANG]) VALUES (5, 1, N'QL_DONDATHANG')
INSERT [dbo].[PHANQUYEN] ([MAPQ], [MAADMIN], [MACHUCNANG]) VALUES (6, 1, N'QL_HINHMOTA')
SET IDENTITY_INSERT [dbo].[PHANQUYEN] OFF
GO

SET IDENTITY_INSERT [dbo].[LOAI] ON 
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (1, N'Thức ăn cho mèo')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (2, N'Thức ăn cho chó')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (3, N'Quần áo cho chó')
SET IDENTITY_INSERT [dbo].[LOAI] OFF
GO

SET IDENTITY_INSERT [dbo].[MAUSAC] ON 
INSERT [dbo].[MAUSAC] ([MAMAUSAC], [TENMAUSAC], [ANHIEN]) VALUES (1, N'Đen', NULL)
INSERT [dbo].[MAUSAC] ([MAMAUSAC], [TENMAUSAC], [ANHIEN]) VALUES (2, N'Trắng', NULL)
INSERT [dbo].[MAUSAC] ([MAMAUSAC], [TENMAUSAC], [ANHIEN]) VALUES (3, N'Đỏ', NULL)
SET IDENTITY_INSERT [dbo].[MAUSAC] OFF
GO

SET IDENTITY_INSERT [dbo].[THUONGHIEU] ON 
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH], [LOGO], [ANHIEN]) VALUES (1, N'Sanicat (Tây Ban Nha)', N'logo/LogoSP/Sanicat.jpg', NULL)
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH], [LOGO], [ANHIEN]) VALUES (2, N'Catsrang', N'logo/LogoSP/Catsrang.jpg', NULL)
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH], [LOGO], [ANHIEN]) VALUES (3, N'Flexi (Đức)', N'logo/LogoSP/Flexi.png', NULL)
SET IDENTITY_INSERT [dbo].[THUONGHIEU] OFF
GO

SET IDENTITY_INSERT [dbo].[SANPHAM] ON 
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONGIAMUA], [DONGIABAN], [MATH], [MALOAI], [MAMAUSAC], [SOLUONG], [HINHANH], [MOTA], [THANHTOANON], [ANHIEN]) VALUES (1, N'Bánh Thưởng Pedigree Dentastix Sạch Răng', CAST(23500 AS Decimal(18, 0)), CAST(32000 AS Decimal(18, 0)), 5, 2, 1, 100, N'product-image/thucancho/21.png', N'', NULL, NULL)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONGIAMUA], [DONGIABAN], [MATH], [MALOAI], [MAMAUSAC], [SOLUONG], [HINHANH], [MOTA], [THANHTOANON], [ANHIEN]) VALUES (3, N'THỨC ĂN CAO CẤP CHO CHÓ CON EARTHBORN HOLISTIC DOG PUPPY VANTAGE', CAST(500000 AS Decimal(18, 0)), CAST(595000 AS Decimal(18, 0)), 5, 2, 1, 99, N'product-image/thucancho/15.png', N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO

SET IDENTITY_INSERT [dbo].[KICHTHUOC] ON 
INSERT [dbo].[KICHTHUOC] ([MAKICHTHUOC], [MASP], [TENKICHTHUOC], [ANHIEN]) VALUES (1, 41, 0, NULL)
INSERT [dbo].[KICHTHUOC] ([MAKICHTHUOC], [MASP], [TENKICHTHUOC], [ANHIEN]) VALUES (2, 41, 1, NULL)
INSERT [dbo].[KICHTHUOC] ([MAKICHTHUOC], [MASP], [TENKICHTHUOC], [ANHIEN]) VALUES (3, 28, 2, NULL)
SET IDENTITY_INSERT [dbo].[KICHTHUOC] OFF
GO

SET IDENTITY_INSERT [dbo].[HINH] ON 
INSERT [dbo].[HINH] ([MAHINH], [MASP], [HINH1], [ANHIEN]) VALUES (1, 1, N'product-image/thucancho/21-1.png', NULL)
INSERT [dbo].[HINH] ([MAHINH], [MASP], [HINH1], [ANHIEN]) VALUES (2, 2, N'product-image/3-1.png', NULL)
INSERT [dbo].[HINH] ([MAHINH], [MASP], [HINH1], [ANHIEN]) VALUES (3, 3, N'product-image/3-1.png', NULL)
SET IDENTITY_INSERT [dbo].[HINH] OFF
GO

SET IDENTITY_INSERT [dbo].[PHIEUNHAPKHO] ON 
INSERT [dbo].[PHIEUNHAPKHO] ([MAPHIEUNK], [NGAYNK], [MASP], [SOLUONG]) VALUES (1, CAST(N'2024-06-07T00:00:00.000' AS DateTime), 1, 100)
INSERT [dbo].[PHIEUNHAPKHO] ([MAPHIEUNK], [NGAYNK], [MASP], [SOLUONG]) VALUES (2, CAST(N'2024-06-07T00:00:00.000' AS DateTime), 2, 100)
INSERT [dbo].[PHIEUNHAPKHO] ([MAPHIEUNK], [NGAYNK], [MASP], [SOLUONG]) VALUES (3, CAST(N'2024-06-07T00:00:00.000' AS DateTime), 3, 100)
SET IDENTITY_INSERT [dbo].[PHIEUNHAPKHO] OFF
GO

SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [DIENTHOAI], [DIACHI], [TENDNKH], [MATKHAUKH], [EMAIL], [NGAYSINH], [HINHANH], [KHOIPHUCMATKHAU]) VALUES (1, N'ABC', N'0123456789', N'HCM', N'abc', N'b47998168521701b414da2095c6baa0f', N'abc@gmail.com', CAST(N'2004-01-01T00:00:00.000' AS DateTime), N'account.png', NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [DIENTHOAI], [DIACHI], [TENDNKH], [MATKHAUKH], [EMAIL], [NGAYSINH], [HINHANH], [KHOIPHUCMATKHAU]) VALUES (2, N'Kaito', N'0456123789', N'HCM', N'kaito', N'b47998168521701b414da2095c6baa0f', N'kaito.@gmail.com', CAST(N'2003-06-21T00:00:00.000' AS DateTime), N'account.png', NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [DIENTHOAI], [DIACHI], [TENDNKH], [MATKHAUKH], [EMAIL], [NGAYSINH], [HINHANH], [KHOIPHUCMATKHAU]) VALUES (3, N'Bora', N'0147852369', N'HCM', N'borabora', N'b47998168521701b414da2095c6baa0f', N'bora@gmail.com', CAST(N'2002-07-01T00:00:00.000' AS DateTime), N'account2.jpg', NULL)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO

SET IDENTITY_INSERT [dbo].[DONDATHANG] ON 
INSERT [dbo].[DONDATHANG] ([MADH], [MAKH], [NGAYDAT], [NGAYGIAO], [TINHTRANGDH], [DATHANHTOAN], [TONGTIEN]) VALUES (1, 1, CAST(N'2025-01-15T10:19:54.537' AS DateTime), CAST(N'2025-01-15T00:00:00.000' AS DateTime), 0, 0, CAST(704000 AS Decimal(18, 0)))
INSERT [dbo].[DONDATHANG] ([MADH], [MAKH], [NGAYDAT], [NGAYGIAO], [TINHTRANGDH], [DATHANHTOAN], [TONGTIEN]) VALUES (2, 2, CAST(N'2025-01-20T10:30:20.870' AS DateTime), CAST(N'2025-01-20T00:00:00.000' AS DateTime), 0, 1, CAST(558000 AS Decimal(18, 0)))
INSERT [dbo].[DONDATHANG] ([MADH], [MAKH], [NGAYDAT], [NGAYGIAO], [TINHTRANGDH], [DATHANHTOAN], [TONGTIEN]) VALUES (3, 2, CAST(N'2025-01-29T12:14:49.263' AS DateTime), CAST(N'2025-01-30T00:00:00.000' AS DateTime), 0, 0, CAST(627000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DONDATHANG] OFF
GO

INSERT [dbo].[CTDONDATHANG] ([MADH], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (1, 3, 1, 595000, CAST(595000 AS Decimal(18, 0)))
INSERT [dbo].[CTDONDATHANG] ([MADH], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (1, 4, 1, 45000, CAST(45000 AS Decimal(18, 0)))
INSERT [dbo].[CTDONDATHANG] ([MADH], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (1, 5, 1, 19000, CAST(19000 AS Decimal(18, 0)))
GO







